body {
    background-image: url("/static/images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.page {
    background-color: rgba(128, 128, 128, 0.5);
    backdrop-filter: blur(3px);
    border-radius: 20px;
    padding: 20px;
}

* {
    color: white;
}

select.form-control, select.form-control option {
    color: black;
}


.menu a {
    color: black;
    text-decoration: none;
    margin-right: 20px;
}

.menu a:hover {
    text-decoration: underline;
}

.titre {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #7b7c7c, 0 0 30px #3f423f;
}