{% extends "layout.html" %}
{% block content %}
    <br>
    <div class="page">
        <h2 class="titre">Nos événements</h2>
        <table class="table table-dark table-hover" style="text-align: center; vertical-align: middle;">
            <thead>
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">Evénement</th>
                <th scope="col">Début</th>
                <th scope="col">Fin</th>
                <th scope="col">Localité</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            {% for events in liste_e: %}
                <tr>
                    <td id="{{ events.id_event }}" name="img_event">
                        <a href="">
                            <img src="/static/images/{{ events.img_e }}" height="250px"
                                 alt="...">
                        </a>
                    </td>
                    <td id="{{ events.id_event }}" name="nom_event">
                        {{ events.nom }}
                    </td>
                    <td id="{{ events.id_event }}"
                        name="date_deb_event">
                        {{ events.date_debut }}
                    </td>
                    <td id="{{ events.id_event }}"
                        name="date_fin_event">
                        {{ events.date_fin }}
                    </td>
                    <td id="{{ events.id_event }}" name="localite">
                        {{ events.pays }}<br><br>
                        <img src="/static/images/{{ events.img_p }}" height="30px"
                             alt="...">
                    </td>
                    <td id="{{ events.id_event }}" name="desc" style="max-width: 500px">
                        {{ events.description }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}